html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "BookAntiqua";
  font-style: normal;
  src: url("../fonts/BookAntiqua.woff") format("woff"), url("../fonts/BookAntiqua.woff2") format("woff2"), url("../fonts/BookAntiqua.TTF") format("ttf"); }

@font-face {
  font-family: "Trajan";
  font-style: normal;
  src: url("../fonts/Trajan.woff") format("woff"), url("../fonts/Trajan.woff2") format("woff2"), url("../fonts/Trajan.TTF") format("ttf"); }

body {
  background: black; }

.header {
  max-width: 1320px;
  margin: 0 auto;
  padding: 46px 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .header__title {
    color: #d4c7b1;
    font-family: "BookAntiqua";
    font-size: 30px;
    font-weight: 300;
    text-shadow: 0 8px 16px #000000; }

.links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 135px; }
  .links__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
    width: 50px;
    background: #ffffff;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
    .links__item img {
      width: 30px;
      margin: auto; }
    .links__item--red {
      background: #97252c; }

.top {
  background: url("../img/main.png");
  background-position: 50% -60px;
  position: relative;
  padding-bottom: 160px; }
  .top::before {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    top: 50px;
    background: -webkit-gradient(linear, left top, right top, from(#0b1d10), color-stop(40%, #368f4f), color-stop(60%, #368f4f), to(#0b1d10));
    background: -webkit-linear-gradient(left, #0b1d10 0%, #368f4f 40%, #368f4f 60%, #0b1d10 100%);
    background: -o-linear-gradient(left, #0b1d10 0%, #368f4f 40%, #368f4f 60%, #0b1d10 100%);
    background: linear-gradient(to right, #0b1d10 0%, #368f4f 40%, #368f4f 60%, #0b1d10 100%); }
  .top__content {
    padding-top: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 912px;
    margin: 0 auto;
    position: relative; }
    .top__content::after {
      content: '';
      display: block;
      height: 100%;
      width: 15px;
      background: url("../img/main__right.png") no-repeat;
      position: absolute;
      right: -145px;
      top: 150px; }
  .top__repost {
    font-family: "BookAntiqua";
    font-size: 20px;
    font-weight: 300;
    line-height: 26.83px;
    text-transform: uppercase;
    color: #bafed0;
    text-shadow: 0 2px 4px #000000;
    background: url("../img/main__text_bg.png");
    background-position: 30% 50%;
    padding: 100px; }
    .top__repost span {
      color: #ffffff;
      font-family: 'Montserrat', sans-serif;
      font-size: 36px;
      font-weight: 600;
      letter-spacing: 2.7px; }
  .top__btn {
    background-color: #0c6d38;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#368f4f), color-stop(30%, #368f4f), color-stop(86%, #236041), to(#236041));
    background-image: -webkit-linear-gradient(top, #368f4f 0%, #368f4f 30%, #236041 86%, #236041 100%);
    background-image: -o-linear-gradient(top, #368f4f 0%, #368f4f 30%, #236041 86%, #236041 100%);
    background-image: linear-gradient(to bottom, #368f4f 0%, #368f4f 30%, #236041 86%, #236041 100%);
    color: #ffffff;
    letter-spacing: 2.2px;
    max-height: 90px;
    padding: 35px 77px;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .top__btn:hover {
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.53);
      background-color: #0c6d38;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#1a4830), color-stop(30%, #1a4830), color-stop(86%, #236041), to(#236041));
      background-image: -webkit-linear-gradient(top, #1a4830 0%, #1a4830 30%, #236041 86%, #236041 100%);
      background-image: -o-linear-gradient(top, #1a4830 0%, #1a4830 30%, #236041 86%, #236041 100%);
      background-image: linear-gradient(to bottom, #1a4830 0%, #1a4830 30%, #236041 86%, #236041 100%); }
  .top__title {
    text-shadow: 0 8px 8px #000000;
    color: #eef4b1;
    max-width: 830px;
    line-height: 56px;
    margin: 3px auto;
    text-align: center;
    font-family: "BookAntiqua";
    font-size: 40px;
    font-weight: 400; }

.prize {
  max-width: 1305px;
  margin: 0 auto;
  padding: 7px 0 96px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .prize__item {
    width: 180px; }
    .prize__item--w_320 {
      width: 320px; }
    .prize__item:nth-of-type(3) .prize__picture::after {
      content: "";
      background: url("../img/keyboard__shadow.png") no-repeat;
      position: absolute;
      width: 205px;
      height: 224px;
      top: 25px;
      left: -29px;
      z-index: -1; }
    .prize__item:nth-of-type(3) .prize__img img {
      top: 62px;
      left: -41px; }
    .prize__item:nth-of-type(4) .prize__picture::after {
      content: "";
      background: url("../img/chair__shadow.png") no-repeat;
      position: absolute;
      width: 203px;
      height: 222px;
      top: -73px;
      left: -27px;
      z-index: -1; }
    .prize__item:nth-of-type(4) .prize__img img {
      top: -15px;
      left: 17px; }
    .prize__item:nth-of-type(5) .prize__picture::after {
      content: "";
      background: url("../img/laptop__shadow.png") no-repeat;
      position: absolute;
      width: 188px;
      height: 195px;
      top: 27px;
      left: -6px;
      z-index: -1; }
    .prize__item:nth-of-type(5) .prize__img img {
      top: 23px;
      left: -29px; }
    .prize__item:nth-of-type(6) .prize__picture::after {
      content: "";
      background: url("../img/plane__shadow.png") no-repeat;
      position: absolute;
      width: 188px;
      height: 195px;
      top: -26px;
      left: -20px;
      z-index: -1; }
    .prize__item:nth-of-type(6) .prize__img img {
      top: 41px;
      left: -36px; }
  .prize__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    font-weight: 300;
    line-height: 36px;
    text-shadow: 0 2px 4px #000000;
    color: #d2d0cf;
    padding-bottom: 163px; }
  .prize__picture {
    position: relative; }
  .prize__img {
    position: relative;
    width: 140px;
    height: 204px;
    background: url("../img/prize__border.png"); }
    .prize__img img {
      position: absolute;
      top: -40px;
      left: -22px; }
  .prize__caption {
    margin: 0 0 48px -40px;
    position: relative;
    height: 91px; }
    .prize__caption::before {
      content: "";
      width: 150px;
      height: 3px;
      background: -webkit-gradient(linear, left top, right top, from(#040a06), color-stop(50%, #34894c), color-stop(50%, #34894c), to(#040a06));
      background: -webkit-linear-gradient(left, #040a06 0%, #34894c 50%, #34894c 50%, #040a06 100%);
      background: -o-linear-gradient(left, #040a06 0%, #34894c 50%, #34894c 50%, #040a06 100%);
      background: linear-gradient(to right, #040a06 0%, #34894c 50%, #34894c 50%, #040a06 100%);
      position: absolute;
      bottom: -25px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
    .prize__caption::after {
      content: "";
      width: 15px;
      height: 15px;
      border: 2px solid #eef4b1;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      opacity: 0.81;
      position: absolute;
      bottom: -23px;
      left: 50%;
      -webkit-transform: translate(-50%, 50%);
          -ms-transform: translate(-50%, 50%);
              transform: translate(-50%, 50%); }
  .prize__caption_text {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-family: "BookAntiqua";
    font-size: 18px;
    font-weight: 400;
    line-height: 24.12px;
    text-shadow: 0 2px 4px #000000;
    color: #eef4b1;
    text-align: center; }
  .prize__goal {
    font-size: 22px;
    font-family: "BookAntiqua";
    line-height: 26.83px;
    background-color: #0c6d38;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#368f4f), color-stop(30%, #368f4f), color-stop(86%, #236041), to(#236041));
    background-image: -webkit-linear-gradient(top, #368f4f 0%, #368f4f 30%, #236041 86%, #236041 100%);
    background-image: -o-linear-gradient(top, #368f4f 0%, #368f4f 30%, #236041 86%, #236041 100%);
    background-image: linear-gradient(to bottom, #368f4f 0%, #368f4f 30%, #236041 86%, #236041 100%);
    color: #ffffff;
    letter-spacing: 2.2px;
    max-height: 90px;
    padding: 35px 0;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.53); }
  .prize__prize {
    min-height: 69px;
    margin-top: 16px;
    border: 3px solid #368f4f;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.awards {
  background: url("../img/awards.png");
  position: relative;
  padding-bottom: 386px; }
  .awards__title {
    max-width: 985px;
    margin: 0 auto 110px;
    padding-top: 28px;
    text-shadow: 0 6px 3px #000000;
    color: #f6e6c8;
    font-family: "Open Sans";
    font-size: 36px;
    line-height: 48px;
    text-align: center; }
  .awards__subtitle {
    text-shadow: 0 2px 4px #000000;
    color: #d2d0cf;
    font-family: "Open Sans";
    font-size: 34px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    position: relative; }
    .awards__subtitle::before {
      content: "";
      width: 150px;
      height: 3px;
      background: -webkit-gradient(linear, left top, right top, from(#040a06), color-stop(50%, #34894c), color-stop(50%, #34894c), to(#040a06));
      background: -webkit-linear-gradient(left, #040a06 0%, #34894c 50%, #34894c 50%, #040a06 100%);
      background: -o-linear-gradient(left, #040a06 0%, #34894c 50%, #34894c 50%, #040a06 100%);
      background: linear-gradient(to right, #040a06 0%, #34894c 50%, #34894c 50%, #040a06 100%);
      position: absolute;
      bottom: -56px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
    .awards__subtitle::after {
      content: "";
      width: 15px;
      height: 15px;
      border: 2px solid #eef4b1;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      opacity: 0.81;
      position: absolute;
      bottom: -54px;
      left: 50%;
      -webkit-transform: translate(-50%, 50%);
          -ms-transform: translate(-50%, 50%);
              transform: translate(-50%, 50%); }
  .awards__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1250px;
    margin: 153px auto 0; }
  .awards__item {
    max-width: 232px; }
  .awards__picture {
    width: 232px;
    height: 232px;
    -webkit-box-shadow: inset 0 0 2px 6px rgba(255, 255, 255, 0.09);
            box-shadow: inset 0 0 2px 6px rgba(255, 255, 255, 0.09);
    background-color: #191e16;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    position: relative; }
  .awards__img--auto {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .awards__caption {
    position: relative;
    text-shadow: 0 2px 4px #000000;
    color: #eef4b1;
    font-family: "BookAntiqua";
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    margin-top: 49px;
    min-height: 62px; }
    .awards__caption::before {
      content: "";
      width: 150px;
      height: 3px;
      background: -webkit-gradient(linear, left top, right top, from(#040a06), color-stop(50%, #34894c), color-stop(50%, #34894c), to(#040a06));
      background: -webkit-linear-gradient(left, #040a06 0%, #34894c 50%, #34894c 50%, #040a06 100%);
      background: -o-linear-gradient(left, #040a06 0%, #34894c 50%, #34894c 50%, #040a06 100%);
      background: linear-gradient(to right, #040a06 0%, #34894c 50%, #34894c 50%, #040a06 100%);
      position: absolute;
      bottom: -29px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
    .awards__caption::after {
      content: "";
      width: 15px;
      height: 15px;
      border: 2px solid #eef4b1;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      opacity: 0.81;
      position: absolute;
      bottom: -27px;
      left: 50%;
      -webkit-transform: translate(-50%, 50%);
          -ms-transform: translate(-50%, 50%);
              transform: translate(-50%, 50%); }
  .awards::before {
    content: "";
    width: 15px;
    height: 15px;
    border: 2px solid #eef4b1;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    opacity: 0.81;
    position: absolute;
    bottom: 154px;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%); }
  .awards::after {
    content: "";
    height: 2px;
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#302d21), color-stop(45%, #cdcf94), color-stop(55%, #cdcf94), to(#302d21));
    background: -webkit-linear-gradient(left, #302d21 0%, #cdcf94 45%, #cdcf94 55%, #302d21 100%);
    background: -o-linear-gradient(left, #302d21 0%, #cdcf94 45%, #cdcf94 55%, #302d21 100%);
    background: linear-gradient(to right, #302d21 0%, #cdcf94 45%, #cdcf94 55%, #302d21 100%);
    position: absolute;
    bottom: 154px; }

.participation {
  background: url("../img/participation.png");
  position: relative;
  z-index: 1;
  margin-top: -152px;
  margin-bottom: 119px; }
  .participation__title {
    text-shadow: 0 8px 8px #000000;
    color: #eef4b1;
    font-family: "Open Sans";
    font-size: 48px;
    text-align: center;
    padding-top: 72px; }
  .participation__wrap {
    max-width: 1315px;
    margin: 118px auto 92px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .participation__rules {
    max-width: 640px; }
  .participation__item {
    padding-left: 61px;
    text-shadow: 0 2px 4px #000000;
    color: #d2d0cf;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 48px;
    position: relative; }
    .participation__item::before {
      content: "";
      width: 24px;
      height: 24px;
      border: 4px solid #eef4b1;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      opacity: 0.81;
      position: absolute;
      left: 0; }
  .participation__link {
    text-decoration: none;
    color: #368f4f;
    cursor: pointer; }
  .participation__video {
    cursor: pointer; }
  .participation__bottom {
    opacity: 0.7;
    text-shadow: 0 2px 4px #000000;
    color: #eef4b1;
    font-family: "Open Sans";
    font-size: 24px;
    text-align: center;
    line-height: 42px; }
    .participation__bottom::before {
      content: "";
      width: 150px;
      height: 3px;
      background: -webkit-gradient(linear, left top, right top, from(#040a06), color-stop(50%, #34894c), color-stop(50%, #34894c), to(#040a06));
      background: -webkit-linear-gradient(left, #040a06 0%, #34894c 50%, #34894c 50%, #040a06 100%);
      background: -o-linear-gradient(left, #040a06 0%, #34894c 50%, #34894c 50%, #040a06 100%);
      background: linear-gradient(to right, #040a06 0%, #34894c 50%, #34894c 50%, #040a06 100%);
      position: absolute;
      bottom: -33px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
    .participation__bottom::after {
      content: "";
      width: 15px;
      height: 15px;
      border: 2px solid #eef4b1;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      opacity: 0.81;
      position: absolute;
      bottom: -31px;
      left: 50%;
      -webkit-transform: translate(-50%, 50%);
          -ms-transform: translate(-50%, 50%);
              transform: translate(-50%, 50%); }

.stream {
  cursor: pointer; }
  .stream img {
    width: 100%; }

.winners {
  margin: 65px 0 0; }
  .winners__key {
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.82);
    color: #eef4b1;
    font-family: "Trajan";
    font-size: 36px;
    text-align: center; }
  .winners__title {
    background: url("../img/winners__title_bg.png") no-repeat;
    height: 72px;
    margin: 30px 0 17px;
    text-shadow: 0 2px 4px #000000;
    color: #d2d0cf;
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    padding-top: 7px; }
  .winners__wrap {
    max-width: 725px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 60px 0 106px;
    -webkit-mask-image: url("../img/winners__mask.png");
    -webkit-mask-size: 200%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: bottom center;
    color: wheat; }
  .winners__row {
    counter-reset: item; }
  .winners__winner {
    margin-bottom: 43px;
    text-shadow: 0 2px 4px #000000;
    color: #d2d0cf;
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 300;
    position: relative;
    padding-left: 36px; }
    .winners__winner::before {
      content: counter(item);
      counter-increment: item;
      position: absolute;
      left: 0;
      top: 4px;
      color: #eef4b1;
      font-family: "BookAntiqua";
      font-size: 21px;
      font-weight: 400;
      line-height: 24.73px; }
  .winners__footer {
    max-width: 1070px;
    margin: 0 auto;
    opacity: 0.5;
    text-shadow: 0 2px 4px #000000;
    color: #d2d0cf;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
    position: relative;
    z-index: 1; }

.footer {
  background: url("../img/footer.png") no-repeat;
  -webkit-background-size: 100% 85%;
          background-size: 100% 85%;
  height: 200px;
  position: relative;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
  text-align: center; }
  .footer::before {
    content: "";
    width: 15px;
    height: 15px;
    border: 2px solid #eef4b1;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    opacity: 0.81;
    position: absolute;
    top: 127px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .footer::after {
    content: "";
    height: 2px;
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#302d21), color-stop(45%, #cdcf94), color-stop(55%, #cdcf94), to(#302d21));
    background: -webkit-linear-gradient(left, #302d21 0%, #cdcf94 45%, #cdcf94 55%, #302d21 100%);
    background: -o-linear-gradient(left, #302d21 0%, #cdcf94 45%, #cdcf94 55%, #302d21 100%);
    background: linear-gradient(to right, #302d21 0%, #cdcf94 45%, #cdcf94 55%, #302d21 100%);
    position: absolute;
    left: 0;
    top: 126px; }
  .footer__logo {
    margin: 174px auto 0; }
  .footer__links {
    margin: 41px auto 43px;
    width: 225px; }

.keys {
  font-family: "BookAntiqua";
  font-size: 22px;
  font-weight: 700;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.53);
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  font-family: "Trajan"; }
  .keys--fs_38 {
    font-size: 38px; }
